<!doctype html>
<html ng-app>
	<head>
		<meta charset="utf-8">
		<script src="/cellar.js"></script>
		<script src="/lib/angular-1.0.6.js"></script>
	</head>
	<body ng-controller="CellarCtrl">
		<form name="newWineForm" ng-submit="add()">
			<div>
				<label>Wine</label> <input type="text" ng-model="newWine.name" placeholder="E.g. Clos de Baguette" required>
			</div>
			<div>
				<label>Vintage</label> <input type="text" pattern="\d{4}|NV|nv" ng-model="newWine.vintage" placeholder="Year or NV" required>
			</div>
			<div>
				<button ng-disabled="newWineForm.$invalid">Add {{newWine.name}} {{newWine.vintage}} to your cellar!</button>
			</div>
		</form>
		<hr>
		<table border=1>
			<tr>
				<th ng-click="sort('name')">      Wine    </th>
				<th ng-click="sort('vintage')">   Vintage </th>
			</tr>
			<tr ng-repeat="wine in wines">
				<td>{{wine.name}}</td>
				<td>{{wine.vintage}}</td>
			</tr>
		</table>
	</body>
</html>