<!doctype html>
<html ng-app>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/style.css">
		<script src="/cellar.js"></script>
		<script src="/lib/angular-1.0.6.js"></script>
		<title>Vinfest</title>
	</head>
	<body ng-controller="CellarCtrl">
		<form name="newWineForm" ng-submit="add()">
			<div>
				<label>Wine</label> <input type="text" ng-model="newWine.name" placeholder="E.g. Clos de Baguette" required>
			</div>
			<div>
				<label>Vintage</label> <input type="text" pattern="\d{4}|NV|nv" ng-model="newWine.vintage" placeholder="Year or NV" required>
			</div>
			<div>
				<button ng-disabled="newWineForm.$invalid">Add {{newWine.name}} {{newWine.vintage}} to your cellar!</button>
			</div>
		</form>
		<hr>
		<table border=1 class=wines>
			<thead>
				<tr>
					<th ng-click="sort('name')" colspan=2> Wine    </th>
					<th ng-click="sort('vintage')"       > Vintage </th>
				</tr>
			</thead>
			<tbody ng-repeat="wine in wines">
				<tr>
					<td>
						<button ng-click="toggleEdit(wine)">{{editable(wine) && 'Save' || 'Edit'}}</button>
					</td>
					<td>
						<span  ng-show="readonly(wine)">{{wine.name}}</span>
						<input ng-show="editable(wine)" ng-model="wine.name">
					</td>
					<td>
						<span  ng-show="readonly(wine)">{{wine.vintage}}</span>
						<input ng-show="editable(wine)" ng-model="wine.vintage" type=number integer>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>