<!doctype html>
<html ng-app>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/style.css">
		<script src="/cellar.js"></script>
		<script src="/lib/angular-1.0.6.js"></script>
		<title>Cellarhacker</title>
	</head>
	<body ng-controller="CellarCtrl">
		<form name="newWineForm" ng-submit="add()">
			<div>
				<label>Wine</label> <input type="text" ng-model="newWine.name" placeholder="E.g. Clos de Baguette" required>
			</div>
			<div>
				<label>Vintage</label> <input type="text" pattern="\d{4}|NV|nv" ng-model="newWine.vintage" placeholder="Year or NV" required>
			</div>
			<div>
				<label>Grapes</label> <input type="text" ng-model="newWine.grapes" placeholder="E.g. petit verdot, merlot">
			</div>
			<div>
				<button ng-disabled="newWineForm.$invalid">Add {{newWine.name}} {{newWine.vintage}} to your cellar!</button>
			</div>
		</form>
		<hr>
		<table border=1 class=wines>
			<thead>
				<tr>
					<th ng-click="sort('name')" colspan=2  > Wine     </th>
					<th ng-click="sort('vintage')"         > Vintage  </th>
					<th ng-click="sort('grapes')" colspan=2> Varietal </th>
				</tr>
			</thead>
			<tbody ng-repeat="wine in wines">
				<tr ng-form name="{editWine}">
					<td>
						<button ng-click="beginEdit(wine)" ng-show="readonly(wine)">Edit</button>
						<button ng-click="finishEdit(wine)" ng-show="editable(wine)" ng-disable="!savable(wine)">Save</button>
					</td>
					<td>
						<span  ng-show="readonly(wine)">{{wine.name}}</span>
						<input ng-show="editable(wine)" ng-model="wine.name">
					</td>
					<td>
						<span  ng-show="readonly(wine)">{{wine.vintage}}</span>
						<input ng-show="editable(wine)" ng-model="wine.vintage" type=number integer>
					</td>
					<td>
						<span class=grape ng-repeat="grape in wine.grapes">{{grape}}<span ng-click="removeGrape(wine, grape)" ng-show="editable(wine)" class=remove> &#x232b;</span></span>
						<input ng-show="editable(wine)" ng-model="wine.newGrapes" placeholder="new, varietals, here">
					</td>
					<td>
						<button ng-click="remove(wine)" ng-show="readonly(wine)">-</button>
						<button ng-click="abortEdit(wine)" ng-show="editable(wine)">&times;</button>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>